* { padding: 0; margin: 0; }

.game-world {
  background-image: url(https://i.imgur.com/1Uff4wb.gif);
  background-size: cover;
  display: block;
  margin: 0 auto;
  width: 900;
  height: 330;
}

.game-background {
  background-image: .assets
}

.game-holder {
  background-color: black;
  color: white;
  min-height: 100vh;
  min-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.game-title {
  color: red
}

 .title-front {
   /* margin-bottom: 100px */
   margin-top: 50px;
   margin-bottom: 50px;
   -webkit-text-stroke: .5px red;
 color: black;
 text-shadow:
     3px 3px 0 #000,
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
